.ChartsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 45%;
}

.MainPageContainer {
    display: flex;  
    /* flex-direction: column; */
    align-items: center; 
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../pharmacy.jpg');
}

.CardContainer {
    display: flex;
    flex-direction: column;
    width: 48%;
    justify-content: center;
    align-items: center;
    align-content: center;
    opacity: 0.9;
}

.ListContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50%;
    width: 100%;
}

.ListCard {
    margin-top: 10px;
    width: 94%;
    height: 100%;
    opacity: 0.9;
}