.AppContainer{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background-image: url('../../pharmacy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .MedicationContainer{
    display: flex;
    height: 50%;
    width:100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
  
  }
  .ButtonContainer{
    display: flex;
    height: 50%;
    width:100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top:100px;
  
  }
  .ButtonStyle{
    background-color: #f1faee;
    color:#e63946;
    font-size: 20px;
    font-weight: bold;
    width:300px;
    height:70px;
    border-radius: 4px;
    border:none
  
  }
  
  .ButtonStyle:hover {
      background-color: #a8dadc;
    color:white;
  }
  
  