.LoginContainer{
    display:flex;
    height:100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.LanguageSelector{
    position: absolute;
    left:20px;
    top:20px;
    width:100px;
    height:20px;
}
.ButtonContainer{
    width:200px;
    margin-top: 50px;
    height:40px;
    background-color: #575C55;
    font-size: 20px;
    font-weight: bold;
    color:#ACC12F;
    border-radius: 4px;
    border:none;
    margin-top:50px;

}
.ButtonContainer:hover{

    color:white;
    border:none;
}
