.FormContainer {
    position: fixed;
    z-index: 500;
    background-color: rgba(22, 22, 22, 0.3);
    width: 30%;
    left: 35%;
    top: 30%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ButtonContainer {
    width: 40%;
    margin-top: 50px;
    height: 40px;
    background-color: #98c1d9;
    font-size: 20px;
    font-weight: bold;
    color: #ee6c4d;
    border-radius: 4px;
    border: none;
}

.ButtonContainer:hover {
    color: white;
    border: none;
}